@model IEnumerable<PipelineFeatureList.Controllers.UserType>

@{
    ViewBag.Title = "User Types";
}

<h2>User Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserTypeItem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserTypeItem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTypeID })
        </td>
    </tr>
}
<div>
    @Html.ActionLink("Back to Admin", "Index", "Admin")
</div>
</table>
