@model PipelineFeatureList.Models.DocumentRecord

@{
    ViewBag.Title = "Document Record Details";
}

<h2>Document Record Details</h2>

<fieldset>
    <legend>DocumentRecord</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValveSection.OrionStationSeries)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValveSection.OrionStationSeries)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordIdentifier.RecordIdentifierItem)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordIdentifier.RecordIdentifierItem)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DocumentType.DocumentTypeItem)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentType.DocumentTypeItem)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Filename)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Filename)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordIDName)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordIDName)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ElectronicUniqueID)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.ElectronicUniqueID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Page)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Page)
    </div>
    </td></tr></table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DocumentRecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
