@model PipelineFeatureList.Models.ValveSection

@{
    ViewBag.Title = "Edit Valve Section";
}

<h2>Edit Valve Section</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ValveSection</legend>

        @Html.HiddenFor(model => model.ValveSectionID)
        @Html.HiddenFor(model => model.BuilderID)
        @Html.HiddenFor(model => model.CreatedBy_UserID)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.EngineerID)
        @Html.HiddenFor(model => model.FinalEngineerID)
        @Html.HiddenFor(model => model.QCID)
        @Html.HiddenFor(model => model.PFLLength)
        @Html.HiddenFor(model => model.LengthDiscrepancyPlus)
        @Html.HiddenFor(model => model.LengthDiscrepancyMinus)
        @Html.HiddenFor(model => model.ValveSectionStatusID)
        @Html.HiddenFor(model => model.PipeSystemID)
        @Html.HiddenFor(model => model.PipelineID)
        @Html.HiddenFor(model => model.OrionStationSeries)
        @Html.HiddenFor(model => model.ValveSectionBegin)        
        @Html.HiddenFor(model => model.CrossingsStatus)
        @Html.HiddenFor(model => model.IsSegmentationDirty)


        <table>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.ValveSectionStatusID)</div></td>
            <td><div class="editor-field">@Html.Raw(ViewBag.ValveSectionStatusItem)</div></td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.PipeSystemID)</div></td>
            <td><div class="editor-field">@Html.Raw(ViewBag.PipeSystemItem)</div></td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.PipelineID)</div></td>
            <td><div class="editor-field">@Html.Raw(ViewBag.PipelineItem)</div></td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.Label("Valve Section Begin/End")</div></td>
            <td>
                <table><tr>
                    <td><div class="editor-field">@Html.DisplayFor(model => model.ValveSectionBegin)</div></td>
                    <td>/</td>
                    <td><div class="editor-field">@Html.EditorFor(model => model.ValveSectionEnd) @Html.ValidationMessageFor(model => model.ValveSectionEnd)</div></td>
                </tr></table>
            </td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.OrionStationSeries)</div></td>
            <td><div class="editor-field">@Html.DisplayFor(model => model.OrionStationSeries)</div></td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.Label("Mile Point Begin/End")</div></td>
            <td>
                <table><tr>
                    <td><div class="editor-field">@Html.EditorFor(model => model.MilePointBegin) @Html.ValidationMessageFor(model => model.MilePointBegin)</div></td>
                    <td>/</td>
                    <td><div class="editor-field">@Html.EditorFor(model => model.MilePointEnd) @Html.ValidationMessageFor(model => model.MilePointEnd)</div></td>
                </tr></table>
            </td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.Label("Orion Station Begin/End")</div></td>
            <td>
                <table><tr>
                    <td>
                    @*<input id="OSB" type="text" value="@Html.ValueFor(model => model.OrionStationEnd)" />*@
                    <div class="editor-field">@Html.EditorFor(model => model.OrionStationBegin) @Html.ValidationMessageFor(model => model.OrionStationBegin)</div></td>
                    <td>/</td>
                    <td><div class="editor-field">@Html.EditorFor(model => model.OrionStationEnd) @Html.ValidationMessageFor(model => model.OrionStationEnd)</div></td>
            </tr></table>
            </td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.Label("GIS Station Begin/End")</div></td>
            <td>
                <table><tr>
                    <td><div class="editor-field">@Html.EditorFor(model => model.GISStationBegin) @Html.ValidationMessageFor(model => model.GISStationBegin)</div></td>
                    <td>/</td>
                    <td><div class="editor-field">@Html.EditorFor(model => model.GISStationEnd) @Html.ValidationMessageFor(model => model.GISStationEnd)</div></td>
            </tr></table>
            </td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.CurrentMAOP)</div></td>
            <td><div class="editor-field">@Html.EditorFor(model => model.CurrentMAOP) @Html.ValidationMessageFor(model => model.CurrentMAOP)</div></td>
            </tr>
            <tr>
            <td colspan="2"><p><input type="submit" value="Save" /></p></td>
            </tr>
        </table>
        
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Overview", "Index", "Overview", new { ValveSectionID = Model.ValveSectionID }, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
