@model IEnumerable<PipelineFeatureList.Models.ValveSectionAdmin>

@{
    ViewBag.Title = "Valve Sections";
}

<h2>Valve Sections</h2>

<table width="100%">
    <tr>
        <th>
            @Html.Raw("Pipe System")
        </th>
        <th>
            @Html.Raw("Pipeline")
        </th>
        <th>
            @Html.Raw("Valve Section")
        </th>
        <th>
            @Html.Raw("Orion Station Series")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PipeSystem.PipeSystemItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pipeline.PipelineItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValveSection.ValveSectionBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValveSection.OrionStationSeries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValveStatus.ValveSectionStatusItem)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "AssignedEdit", new { id = item.ValveSection.ValveSectionID })
        </td>*@
        <td>
            @Html.ActionLink("Overview", "", "Overview", new { ValveSectionID = item.ValveSection.ValveSectionID, OrionStationSeries = item.ValveSection.OrionStationSeries }, htmlAttributes: new { @class = "linkbutton" })
        </td>
    </tr>
}

</table>
