@model IEnumerable<PipelineFeatureList.Models.ValveSectionAdmin>

@{
    ViewBag.Title = "Circuits";
}

<h2>Circuits</h2>

<table width="100%">
    <tr>
        <th>
            @Html.Raw("Station Location")
        </th>
        <th>
            @Html.Raw("Station")
        </th>
        <th>
            @Html.Raw("Circuit ID")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PipeSystem.PipeSystemItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pipeline.PipelineItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValveSection.ValveSectionItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValveStatus.ValveSectionStatusItem)
        </td>
        <td>
            @Html.ActionLink("Overview", "", "Overview", new { ValveSectionID = item.ValveSection.ValveSectionID }, htmlAttributes: new { @class = "linkbutton" })
        </td>
    </tr>
}

</table>
