@model PipelineFeatureList.Models.ValveSection

@{
    ViewBag.Title = "Create Circuit";
}

<h2>Create Circuit for </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Circuit</legend>

        <table>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.PipelineID)</div></td>
                <td><div class="editor-field">
                 @Html.DropDownList("PipelineID", "- Select a Station -")                
            </div></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ValveSectionItem)
                </td>
                <td>
                    @Html.EditorFor(model => model.ValveSectionItem)                    
                </td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.BuilderID)</div></td>
                <td><div class="editor-field">@Html.DropDownList("BuilderID", "- Select a Builder -")</div></td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.QCID)</div></td>
                <td><div class="editor-field">@Html.DropDownList("QCID", "- Select a QCer -")</div></td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.EngineerID)</div></td>
                <td><div class="editor-field">@Html.DropDownList("EngineerID", "- Select a Engineer -")</div></td>
            </tr>
            <tr>
                <td><div class="editor-label">@Html.LabelFor(model => model.CAID)</div></td>
                <td><div class="editor-field">@Html.DropDownList("CAID", "- Select a Certifier -")</div></td>
            </tr>
            <tr>
                <td colspan="2"><p><input type="submit" value="Create" /></p></td>
            </tr>
        </table>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
