@model PipelineFeatureList.Models.ValveSection

@{
    ViewBag.Title = "Create Circuit";
}

<h2>Create Circuit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Circuit</legend>

        <table>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.PipelineID)</div></td>
            <td><div class="editor-field">@Html.DropDownList("PipelineID", "- Select a Station -") @Html.ValidationMessageFor(x => x.PipelineID)</div></td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.ValveSectionBegin)</div></td>
            <td><div class="editor-field">@Html.EditorFor(model => model.ValveSectionBegin) @Html.ValidationMessageFor(model => model.ValveSectionBegin)</div></td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.OrionStationSeries)</div></td>
            <td><div class="editor-field">@Html.EditorFor(model => model.OrionStationSeries) @Html.ValidationMessageFor(model => model.OrionStationSeries)</div></td>
            </tr>
            <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.BuilderID)</div></td>
            <td><div class="editor-field">@Html.DropDownList("BuilderID", "- Select a Builder -")</div></td>
            </tr>
            <tr>
            <td colspan="2"><p><input type="submit" value="Create" /></p></td>
            </tr>
        </table>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
