@model PipelineFeatureList.Models.ValveSection

@{
    ViewBag.Title = "Edit Valve Section";
}

<h2>Edit Valve Section</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<fieldset>
    <legend>ValveSection</legend>

    @Html.HiddenFor(model => model.PipeSystemID)
    @Html.HiddenFor(model => model.ValveSectionID)
    @Html.HiddenFor(model => model.CreatedBy_UserID)
    @Html.HiddenFor(model => model.CreatedOn)
    @Html.HiddenFor(model => model.CurrentMAOP)
    @Html.HiddenFor(model => model.PFLLength)
    @Html.HiddenFor(model => model.ValveSectionStatusID)

    <table>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.PipelineID)</div></td>
            <td><div class="editor-field">@Html.DropDownList("PipelineID", "- Select a Pipeline -") @Html.ValidationMessageFor(x => x.PipelineID)</div></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ValveSectionItem)</td>
            <td>@Html.EditorFor(model => model.ValveSectionItem)</td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.BuilderID)</div></td>
            <td><div class="editor-field">@Html.DropDownList("BuilderID", "- Select a Builder -")</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.QCID)</div></td>
            <td><div class="editor-field">@Html.DropDownList("QCID", "- Select a QCer -")</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.EngineerID)</div></td>
            <td><div class="editor-field">@Html.DropDownList("EngineerID", "- Select an Engineer -")</div></td>
        </tr>
        <tr>
            <td><div class="editor-label">@Html.LabelFor(model => model.CAID)</div></td>
            <td><div class="editor-field">@Html.DropDownList("CAID", "- Select an Certifier -")</div></td>
        </tr>
        @*<tr>
        <td><div class="editor-label">@Html.LabelFor(model => model.FinalEngineerID)</div></td>
        <td><div class="editor-field">@Html.DropDownList("FinalEngineerID", "- Select a Final Engineer -")</div></td>*@
        <tr>
            <td colspan="2"><p><input type="submit" value="Save" /></p></td>
        </tr>
    </table>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
