@model IEnumerable<PipelineFeatureList.Models.ValveSectionEngineering>

@{
    ViewBag.Title = "Engineering";
}

<table width="100%">
    <tr>
        <th>
            @Html.Raw("Station System")
        </th>
        <th>
            @Html.Raw("Station")
        </th>
        <th>
            @Html.Raw("Circuit")
        </th>
        <th>
            @Html.Raw("Orion Station Series")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
        <th>
            @Html.Raw("Segmentation Required")
        </th>
        <th>
            @Html.Raw("Crossings Status")
        </th>
    </tr>

    
@foreach (var item in Model)
{
    if (item.ValveSectionEngineeringAssigned != null)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringAssigned.PipeSystem.PipeSystemItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringAssigned.Pipeline.PipelineItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringAssigned.ValveSection.ValveSectionBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringAssigned.ValveSection.OrionStationSeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringAssigned.ValveStatus.ValveSectionStatusItem)
            </td>
            <td>
                @try
                {
                    if (item.ValveSectionEngineeringAssigned.ValveSection.IsSegmentationDirty == true)
                    {
                        @Html.Raw("Yes")
                    }
                    else
                    {
                        @Html.Raw("No")
                    }
                }
                catch
                {
                    @Html.Raw("No")
                }
            </td>
            <td>
                @try
                {
                    if (item.ValveSectionEngineeringAssigned.ValveSection.CrossingsStatus == "M")
                    {
                        @Html.Raw("Not Available")
                    }
                    else if (item.ValveSectionEngineeringAssigned.ValveSection.CrossingsStatus == "Y")
                    {
                        @Html.Raw("Imported")
                    }
                    else if (item.ValveSectionEngineeringAssigned.ValveSection.CrossingsStatus == "N")
                    {
                        @Html.Raw("Not Applicable")
                    }
                    else
                    {
                        @Html.Raw("Not Available")
                    }
                }
                catch
                {
                    @Html.Raw("Not Available")
                }
            </td>
            <td>
                @Html.ActionLink("Overview", "", "Overview", new { ValveSectionID = item.ValveSectionEngineeringAssigned.ValveSection.ValveSectionID, OrionStationSeries = item.ValveSectionEngineeringAssigned.ValveSection.OrionStationSeries }, htmlAttributes: new { @class = "linkbutton" })
            </td>
        </tr>
    }
}
</table>
