@model IEnumerable<PipelineFeatureList.Models.ValveSectionEngineering>

@{
    ViewBag.Title = "Engineering";
}

@using (Html.BeginForm("Engineering", "ValveSection", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Engineering</legend>
        
        <table width="100%">
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><div class="editor-label">@Html.Raw("Station Location")</div></td>
            <td><div class="editor-field">@Html.DropDownList("PipeSystemData", ViewBag.PipeSystemID as SelectList, "- All Station Locations -", new { @id = "ddlPipeSystems", @onchange = "onchangeevent1()" })</div></td>
            <td><div class="editor-label">@Html.Raw("Stations")</div></td>
            <td><div class="editor-field">@Html.DropDownList("PipelineData", ViewBag.PipelineID as SelectList, "- All Stations -", new { @id = "ddlPipelines", @onchange = "onchangeevent2()" })</div></td>
            <td><input type="submit" value="Filter" onclick="onchangeevent2()" /></td>
            </tr>
        </table>
    </fieldset>
}

<table width="100%">
    <tr>
        <th>
            @Html.Raw("Station Location")
        </th>
        <th>
            @Html.Raw("Stations")
        </th>
        <th>
            @Html.Raw("Circuits")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
    </tr>

@foreach (var item in Model) {
    if (item.ValveSectionEngineeringPool != null)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringPool.PipeSystem.PipeSystemItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringPool.Pipeline.PipelineItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringPool.ValveSection.ValveSectionItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionEngineeringPool.ValveStatus.ValveSectionStatusItem)
            </td>
            <td>
                @Html.ActionLink("Overview", "", "Overview", new { ValveSectionID = item.ValveSectionEngineeringPool.ValveSection.ValveSectionID }, htmlAttributes: new { @class = "linkbutton" })
            </td>
        </tr>
    }
}

</table>
