@model IEnumerable<PipelineFeatureList.Models.ValveSectionFinalEngineering>

@{
    ViewBag.Title = "FinalEngineering";
}

<table width="100%">
    <tr>
        <th>
            @Html.Raw("Station Location")
        </th>
        <th>
            @Html.Raw("Station")
        </th>
        <th>
            @Html.Raw("Circuit")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
    </tr>

    
@foreach (var item in Model)
{
    if (item.ValveSectionFinalEngineeringAssigned != null)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionFinalEngineeringAssigned.PipeSystem.PipeSystemItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionFinalEngineeringAssigned.Pipeline.PipelineItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionFinalEngineeringAssigned.ValveSection.ValveSectionBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionFinalEngineeringAssigned.ValveSection.OrionStationSeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionFinalEngineeringAssigned.ValveStatus.ValveSectionStatusItem)
            </td>
            <td>
                @Html.ActionLink("Overview", "", "Overview", new { ValveSectionID = item.ValveSectionFinalEngineeringAssigned.ValveSection.ValveSectionID, OrionStationSeries = item.ValveSectionFinalEngineeringAssigned.ValveSection.OrionStationSeries }, htmlAttributes: new { @class = "linkbutton" })
            </td>
        </tr>
    }
}
</table>
