@model IEnumerable<PipelineFeatureList.Models.ValveSectionQC>

@{
    ViewBag.Title = "QC";
}

<table width="100%">
    <tr>
        <th>
            @Html.Raw("Station Location")
        </th>
        <th>
            @Html.Raw("Station")
        </th>
        <th>
            @Html.Raw("Circuit")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
        <th>
            @Html.Raw("Ready for QC")
        </th>
        <th>
            @Html.Raw("Builder")
        </th>
    </tr>
    
@foreach (var item in Model)
{
    if (item.ValveSectionQCAssigned != null)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionQCAssigned.PipeSystem.PipeSystemItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionQCAssigned.Pipeline.PipelineItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionQCAssigned.ValveSection.ValveSectionItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionQCAssigned.ValveStatus.ValveSectionStatusItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionQCAssigned.ReadyForQC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveSectionQCAssigned.Builder.FirstName) @Html.DisplayFor(modelItem => item.ValveSectionQCAssigned.Builder.LastName)
            </td>
            <td>
                @Html.ActionLink("Overview", "", "Overview", new { ValveSectionID = item.ValveSectionQCAssigned.ValveSection.ValveSectionID }, htmlAttributes: new { @class = "linkbutton" })
            </td>
        </tr>
    }
}
</table>
