@model PipelineFeatureList.Models.PipeType

@{
    ViewBag.Title = "Create Pipe Type";
}

<h2>Create Pipe Type</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PipeType</legend>

        <table><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.PipeTypeItem)
        </div></td>
        <td>
        <div class="medium">
            @Html.EditorFor(model => model.PipeTypeItem)
            @Html.ValidationMessageFor(model => model.PipeTypeItem)
        </div>
        </td></tr></table>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
