@model PipelineFeatureList.Models.PipeType

@{
    ViewBag.Title = "Feature Type Details";
}

<h2>Feature Type Details</h2>

<fieldset>
    <legend>FeatureType</legend>

    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Feature)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DropDownList("FeatureID", ViewBag.SelectedFeatureID as SelectList, new { id = "ddlFeatures", onchange = "pipetypesfromfeatures();" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PipeTypeItem)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PipeTypeItem)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.RatingType)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.RatingType)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PipeTypeID }, htmlAttributes: new { @class = "linkbutton" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
