@model PipelineFeatureList.Controllers.ValveSectionStatus

@{
    ViewBag.Title = "Create Valve Section Status";
}

<h2>Create Valve Section Status</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ValveSectionStatus</legend>

        <table><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ValveSectionStatusItem)
        </div></td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValveSectionStatusItem)
            @Html.ValidationMessageFor(model => model.ValveSectionStatusItem)
        </div>
        </td></tr></table>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
