@model PipelineFeatureList.Models.DocumentRecord

@{
    ViewBag.Title = "Delete Document Record";
}

<h2>Delete Document Record</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DocumentRecord</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordIdentifier.RecordIdentifierItem)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordIdentifier.RecordIdentifierItem)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DocumentType.DocumentTypeItem)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentType.DocumentTypeItem)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Filename)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Filename)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordIDName)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordIDName)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ElectronicUniqueID)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.ElectronicUniqueID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Page)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Page)
    </div>
    </td></tr></table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> </p>
    <p>
        @Html.ActionLink("Back to List", "Index", new { ValveSectionID = Session["CurrentValveSection"].ToString(), OrionStationSeries = Session["CurrentOrionStationSeries"].ToString() }, htmlAttributes: new { @class = "linkbutton" })
    </p>
}
