@model PipelineFeatureList.Models.ValveSectionFeature

@{
    ViewBag.Title = "Valve Section Feature Details";
}

<h2>Valve Section Feature Details</h2>

<fieldset>
    <legend>ValveSectionFeature</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValveSectionID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ValveSectionID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.GISAlignStart)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.GISAlignStart)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.GISAlignEnd)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.GISAlignEnd)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeatureNumber)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.FeatureNumber)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeatureID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.FeatureID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.TypeID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Length)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.Length)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobWOPO)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.JobWOPO)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.InstallDate)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.InstallDate)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.InServiceDate)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.InServiceDate)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConstructionTypeID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ConstructionTypeID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DrawingID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.DrawingID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODID1)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ODID1)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODRecordID1)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ODRecordID1)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODRecordID2)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ODRecordID2)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODRecordMatrixCheck)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ODRecordMatrixCheck)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.WallThickness1)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.WallThickness1)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.WTRecordID1)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.WTRecordID1)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.WTRecordID2)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.WTRecordID2)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.WTRecordMatrixCheck)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.WTRecordMatrixCheck)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODID2)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ODID2)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.WallThickness2)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.WallThickness2)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeamWeldTypeID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SeamWeldTypeID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeamRecordID1)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SeamRecordID1)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeamRecordID2)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SeamRecordID2)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeamRecordMatrixCheck)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SeamRecordMatrixCheck)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecRatingID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SpecRatingID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.GradeID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.GradeID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecRatingRecordID1)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SpecRatingRecordID1)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecRatingRecordID2)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SpecRatingRecordID2)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecRatingRecordMatrixCheck)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.SpecRatingRecordMatrixCheck)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ANSIRatingID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ANSIRatingID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaterialTypeID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.MaterialTypeID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.AngleID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.AngleID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RadiusID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.RadiusID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrientID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.OrientID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoatingTypeID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.CoatingTypeID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManufacturerID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ManufacturerID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManufacturerTypeID)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.ManufacturerTypeID)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mill)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.Mill)
    </div>
    </td></tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.MFRDate)
    </div></td>
    <td><div class="display-field">
        @Html.DisplayFor(model => model.MFRDate)
    </div>
    </td></tr>
    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.CurrentClassLoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentClassLoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClassDesignFactor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassDesignFactor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HCAName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HCAName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SMYS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMYS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OutsideDiameter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutsideDiameter)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WallThickness)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WallThickness)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DesignFactor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DesignFactor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JointFactor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JointFactor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TemperatureDerating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemperatureDerating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DesignPressure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DesignPressure)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BuilderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuilderID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EngineerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EngineerID)
    </div>*@
    </td></tr></table>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", new { ValveSectionID = Session["CurrentValveSection"].ToString(), OrionStationSeries = Session["CurrentOrionStationSeries"].ToString() }, null)
</p>
