@model PipelineFeatureList.Models.DocumentRecord

@{
    ViewBag.Title = "Edit Document Record";
}

<h2>Edit Document Record</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DocumentRecord</legend>

        @Html.HiddenFor(model => model.DocumentRecordID)
        @Html.HiddenFor(model => model.ValveSectionID)
        @Html.HiddenFor(model => model.RecordIdentifierID)

        <table><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.RecordIdentifierID)
        </div></td><td>
        <div class="editor-field">
            @Html.Raw(ViewBag.RecordIdentifierName)
        </div></td></tr>

        <tr><td><div class="editor-label">
            @Html.LabelFor(model => model.DocumentTypeID, "DocumentType")
        </div></td><td>
        <div class="editor-field">
            @Html.DropDownList("DocumentTypeID", "- Select a Document Type -")
            @Html.ValidationMessageFor(model => model.DocumentTypeID)
        </div></td></tr>

        <tr><td><div class="editor-label">
            @Html.LabelFor(model => model.Filename)
        </div></td><td>
        <div class="wide">
            @Html.EditorFor(model => model.Filename)
            @Html.ValidationMessageFor(model => model.Filename)
        </div></td></tr>

        <tr><td><div class="editor-label">
            @Html.LabelFor(model => model.RecordIDName)
        </div></td><td>
        <div class="wide">
            @Html.EditorFor(model => model.RecordIDName)
            @Html.ValidationMessageFor(model => model.RecordIDName)
        </div></td></tr>

        <tr><td><div class="editor-label">
            @Html.LabelFor(model => model.ElectronicUniqueID)
        </div></td><td>
        <div class="wide">
            @Html.EditorFor(model => model.ElectronicUniqueID)
            @Html.ValidationMessageFor(model => model.ElectronicUniqueID)
        </div></td></tr>

        <tr><td><div class="editor-label">
            @Html.LabelFor(model => model.Page)
        </div></td><td>
        <div class="wide">
            @Html.EditorFor(model => model.Page)
            @Html.ValidationMessageFor(model => model.Page)
        </div></td>
        <td>Required for Completion Report and Pipeline Replacement Report
        </td></tr></table>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
        @Html.ActionLink("Back to List", "Index", new { ValveSectionID = Session["CurrentValveSection"].ToString(), OrionStationSeries = Session["CurrentOrionStationSeries"].ToString() }, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
