@model IEnumerable<PipelineFeatureList.Models.Overview>
@{ 
    ViewBag.Title = "Circuit Overview";
}

<table class="overviewmaintable">
@foreach (var itemSection in Model)
{
    <tr><td><h3>Circuit: @Html.DisplayFor(modelitem => itemSection.ValveSectionData.ValveSectionItem) Station: @Html.DisplayFor(modelitem => itemSection.PipelineData.PipelineItem)</h3></td></tr>
    break;
}
        <tr>
        <td>
        <table class="overviewtable">
            @foreach (var itemSection in (ViewData["ValveSection"] as List<PipelineFeatureList.Models.ValveSection>))
            {           
                <tr><th>Length</th><td>@Html.DisplayFor(modelItem => itemSection.PFLLength)</td></tr>

                <tr>
                  <td colspan="2">
                        @foreach (var workflowSection in (ViewData["WorkflowSection"] as List<PipelineFeatureList.Models.WorkflowRuleList>))
                        {
                                @Html.ActionLink(workflowSection.WorkflowRule.ButtonText, "StatusChange", "ValveSection", new
                                {
                                    id = itemSection.ValveSectionID,
                                    oldStatus = workflowSection.WorkflowRule.Old_ValveSectionStatusID,
                                    newStatus = workflowSection.WorkflowRule.New_ValveSectionStatusID,
                                    description = workflowSection.WorkflowRule.Description
                                },
                                htmlAttributes: new { @class = "linkbutton" })
                        }
                  </td>
                </tr>
            }
            
                <tr><td colspan="2" align="center">
                    <table  class="overviewtable">
                    <tr>
                    <td>Builder ID: 
                        @foreach (var assignedSection in (ViewData["BuilderData"] as List<PipelineFeatureList.Models.OverviewBuilder>))
                        {
                            @Html.DisplayFor(modelItem => assignedSection.BuilderData.UserName)
                        }
                    </td>
                    <td>QC ID:
                        @foreach (var assignedSection in (ViewData["QCData"] as List<PipelineFeatureList.Models.OverviewQC>))
                        {
                            @Html.DisplayFor(modelItem => assignedSection.QCData.UserName)
                        }
                    </td>
                    <td>Engineer ID:
                        @foreach (var assignedSection in (ViewData["EngineerData"] as List<PipelineFeatureList.Models.OverviewEngineer>))
                        {
                            @Html.DisplayFor(modelItem => assignedSection.EngineerData.UserName)
                        }
                    </td>
                    </tr>
                    </table>
                </td></tr>
        </table>
        </td>
    </tr>

    @*Error Display Section*@


    <tr><td colspan="1"><h3>Error Messages</h3></td><td colspan="1"><h3>Feature Issues</h3></td></tr>
    <tr><td colspan="1"><div style="width:100%; height:200px; overflow:scroll">
        <table class="overviewfeaturetable">
            <tr><th>FEATURE NUMBER</th><th>ERROR DESCRIPTION</th></tr>
            @foreach (var itemErrors in (ViewData["ErrorData"] as List<PipelineFeatureList.Models.ValveSectionError>))
            {
                if (itemErrors.ValveSectionFeatureID != null)
                {
                    var backcolor = itemErrors.ValveSectionErrorLevel.BackColor;
                    var forecolor = itemErrors.ValveSectionErrorLevel.ForeColor;
                    var style = "color:" + @forecolor + "; background-color:" + @backcolor + ";";
                    <tr>
                    <td style="@style">@Html.DisplayFor(modelItem => itemErrors.ValveSectionFeature.FeatureNumber)</td>
                    <td style="@style">@Html.DisplayFor(modelItem => itemErrors.ErrorDescription)</td>
                    </tr>
                }
            }
        </table>
        </div>
    </td>

    @*Feature Issue Section*@

    <td colspan="1"><div style="width:100%; height:200px; overflow:scroll">
        <table class="overviewfeaturetable">
            <tr><th></th><th>FEATURE MARK NUMBER</th><th>BUILDER DESCRIPTION</th><th>QC DESCRIPTION</th><th>ENGINEER DESCRIPTION</th><th>NATGRID CORRESPONDENCE</th><th></th></tr>
            @foreach (var itemIssues in (ViewData["IssueData"] as List<PipelineFeatureList.Models.FeatureIssue>))
            {
                if (itemIssues.ValveSectionFeatureID != null)
                {
            <tr>
                <td>
                    @if (ViewBag.EditDisabled == false)
                    {
                        @Html.ActionLink("Edit", "EditIssue", new { id = (itemIssues.FeatureIssueID == null ? 0 : itemIssues.FeatureIssueID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "EditIssue", new { id = (itemIssues.FeatureIssueID == null ? 0 : itemIssues.FeatureIssueID) }, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => itemIssues.FeatureNumber)</td>
                <td>@Html.DisplayFor(modelItem => itemIssues.BuilderDescription)</td>
                <td>@Html.DisplayFor(modelItem => itemIssues.CheckerDescription)</td>
                <td>@Html.DisplayFor(modelItem => itemIssues.EngineerDescription)</td>
                <td>@Html.DisplayFor(modelItem => itemIssues.NatGridCorrespondence)</td>
                <td>
                    @if (ViewBag.EditDisabled == false)
                    {
                        @Html.ActionLink("Delete", "DeleteIssue", new { id = (itemIssues.FeatureIssueID == null ? 0 : itemIssues.FeatureIssueID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                    }
                    else
                    {
                        @Html.ActionLink("Delete", "DeleteIssue", new { id = (itemIssues.FeatureIssueID == null ? 0 : itemIssues.FeatureIssueID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                    }
                </td>
            </tr>
                }
            }
            <tr><th colspan="7">
                @if (ViewBag.EditDisabled == false)
                {
                    @Html.ActionLink("Create New Issue", "CreateIssue", null, htmlAttributes: new { @class = "linkbuttonsmall" })
                }
                else
                {
                    @Html.ActionLink("Create New Issue", "CreateIssue", null, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
                }
            </th></tr>
        </table>
        </div>
    </td>
    </tr>
</table>


@* ------------------------------ Valve Section Feature List ------------------------------ *@

<h3>Circuit Feature Listing</h3><br />
    @if (ViewBag.EditDisabled == false)
    {
        @Html.ActionLink("Create New Feature", "Create", null, htmlAttributes: new { @class = "linkbutton" }) 
    }
    else
    {
        @Html.ActionLink("Create New Feature", "Create", null, htmlAttributes: new { @class = "linkbuttondisabled" }) 
    }
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @if (ViewBag.EditDisabled == false)
    {
        @Html.ActionLink("Regenerate Errors/Warnings", "Errors", null, htmlAttributes: new { @class = "linkbutton" })
    }
    else
    {
        @Html.ActionLink("Regenerate Errors/Warnings", "Errors", null, htmlAttributes: new { @class = "linkbuttondisabled" })
    }

     
<div style="width:1100px; height:400px; overflow:scroll" >
        <table class="overviewfeaturetable">
            @if (ViewBag.DisplayGroupName == "Engineering" || ViewBag.DisplayGroupName == "Final Engineering" 
                || ViewBag.DisplayGroupName == "Annual Review")
            {
                <tr><th colspan="45" style="text-align:left;">&nbsp;** BUILD RECORDS **</th></tr>
            }
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Feature Number</th>
                    <th>Location</th>
                    <th>Station ID</th>
                    <th>Station Name</th>
                    <th>Town</th>
                    <th>Street</th>
                    <th>Cross Street</th>

                    <th>Feature Mark Number</th>
                    <th>Length (feet)</th>

                    <th>From Circuit</th>
                    <th>To Circuit</th>

                    <th>From Series</th>
                    <th>To Series</th>

                    <th>Feature</th>
                    <th>Feature Type</th>

                    <th>Notes / Comments</th>
                    <th>Job Number / Work Order / Purchase Order #</th>

                    <th>Feature Install Date</th>
                    <th>Construction Type</th>

                    <th>O.D. 1 (inch)</th>
                    <th>OD RecID 1</th>
                    <th>OD RecID 2</th>

                    <th>OD RecID 1 DocType</th>
                    <th>OD RecID 2 DocType</th>

                    <th>W.T. 1 (inch)</th>
                    <th>WT RecID 1</th>
                    <th>WT RecID 2</th>
                    <th>WT RecID 1 DocType</th>
                    <th>WT RecID 2 DocType</th>

                    <th>Seam Weld Type</th>
                    <th>Seam RecID 1</th>
                    <th>Seam RecID 2</th>
                    <th>Seam RecID 1 DocType</th>
                    <th>Seam RecID 2 DocType</th>

                    <th>Grade</th>
                    <th>Grade RecID 1</th>
                    <th>Grade RecID 2</th>
                    <th>Grade RecID 1 DocType</th>
                    <th>Grade RecID 2 DocType</th>

                    <th>Specifiction</th>

                    <th>ANSI Rating</th>
                    <th>Rating RecID 1</th>
                    <th>Rating RecID 2</th>
                    <th>Rating RecID 1  DocType</th>
                    <th>Rating RecID 2  DocType</th>

                    <th>OD 2 (inch)</th>
                    <th>WT 2 (inch)</th>

                    <th>Material Type</th>
                    <th>Coating Type</th>
                    <th>Coating Desc.</th>
                    <th>Manufacturer</th>                   

                    <th>MFR Model Number</th>

                    <th>Class Exceptions</th>

                    <th>Current Class Location</th>

                   
                    <th>Estab. Op. Pressure</th>

                    <th>PT Documnet</th>

                   
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.ValveSectionFeatureData != null)
                    {
                <tr>
                    <td>
                        <p>
                            @if (ViewBag.EditDisabled == false)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = (item.ValveSectionFeatureData == null ? 0 : item.ValveSectionFeatureData.ValveSectionFeatureID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                            }
                            else
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = (item.ValveSectionFeatureData == null ? 0 : item.ValveSectionFeatureData.ValveSectionFeatureID) }, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
                            }
                        </p>

                        <p>
                            @if (ViewBag.EditDisabled == false)
                            {
                                @Html.ActionLink("Insert", "Insert", new { id = (item.ValveSectionFeatureData == null ? 0 : item.ValveSectionFeatureData.ValveSectionFeatureID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                            }
                            else
                            {
                                @Html.ActionLink("Insert", "Insert", new { id = (item.ValveSectionFeatureData == null ? 0 : item.ValveSectionFeatureData.ValveSectionFeatureID) }, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
                            }
                        </p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.FeatureNumber)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.PipeSystemData.PipeSystemItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PipelineData.PipelineItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PipelineData.StationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PipelineData.Town)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PipelineData.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PipelineData.CrossStreet)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.FeatureMarkNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.Length)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionData.ValveSectionItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionData.ValveSectionItem)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ValveSectionFeatureData.FromSeries)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ValveSectionFeatureData.ToSeries)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FeatureData.FeatureItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PipeTypeData.PipeTypeItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.Notes)
                    </td>

                    <td>
                        @try
                        {
                            if (item.ValveSectionFeatureData.JobWOPOUnknown)
                            {
                                @Html.Raw("Unknown")
                            }
                        }
                        catch { }
                        @try
                        {
                            if (!item.ValveSectionFeatureData.JobWOPOUnknown)
                            {
                                @Html.Raw(string.Format("{0:d}", item.ValveSectionFeatureData.JobWOPO));
                            }
                        }
                        catch { }
                    </td>

                    <td>
                        @try
                        {
                            if (item.ValveSectionFeatureData.InstallDateUnknown)
                            {
                                @Html.Raw("Unknown")
                            }
                        }
                        catch { }
                        @try
                        {
                            if (!item.ValveSectionFeatureData.InstallDateUnknown)
                            {
                                @Html.Raw(string.Format("{0:d}", item.ValveSectionFeatureData.InstallDate));
                            }
                        }
                        catch { }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ConstructionTypeData.ConstructionTypeItem)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OutsideDiameterData1.OutsideDiameterItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ODRecordID1Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ODRecordID2Data.Filename)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.ODRecordID1DocType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.ODRecordID2DocType)
                    </td>




                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.WallThickness1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WTRecordID1Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WTRecordID2Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.WTRecordID1DocType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.WTRecordID2DocType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SeamTypeData.SeamTypeItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STRecordID1Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STRecordID2Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.SeamRecordID1DocType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.SeamRecordID2DocType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.GradeData.GradeItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GRRecordID1Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GRRecordID2Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.GradeRecordID1DocType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.GradeRecordID2DocType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SpecRatingData.SpecRatingItem)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ANSIRatingData.ANSIRatingItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SRRecordID1Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SRRecordID2Data.Filename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.SpecRatingRecordID1DocType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.SpecRatingRecordID2DocType)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.OutsideDiameterData2.OutsideDiameterItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.WallThickness2)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.MaterialTypeData.MaterialTypeItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoatingTypeData.CoatingTypeItem)
                    </td>



                    <td>
                        @try
                        {
                            if (item.ValveSectionFeatureData.DescriptionUnknown)
                            {
                                @Html.Raw("Unknown")
                            }
                        }
                        catch { }
                        @try
                        {
                            if (!item.ValveSectionFeatureData.DescriptionUnknown)
                            {
                                @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.Description);
                            }
                        }
                        catch { }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerData.ManufacturerItem)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ManufacturerTypeData.ManufacturerTypeItem)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.MFRModelNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.ClassExceptionsID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.CurrentClassLoc)
                    </td>

                   

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.OperatingPressure)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValveSectionFeatureData.PTRID)
                    </td>
                   

                    <td>
                        @if (ViewBag.EditDisabled == false)
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = (item.ValveSectionFeatureData == null ? 0 : item.ValveSectionFeatureData.ValveSectionFeatureID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                        }
                        else
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = (item.ValveSectionFeatureData == null ? 0 : item.ValveSectionFeatureData.ValveSectionFeatureID) }, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
        </table>
</div>
<br />

@foreach (var itemSection in (ViewData["StatusSection"] as List<PipelineFeatureList.Models.ValveSectionStatus>))
{
    if (itemSection.DisplayGroup.DisplayGroupName == "Unassigned" || itemSection.DisplayGroup.DisplayGroupName == "Build")
    {
        @Html.ActionLink("Back to Circuit List", "BuildAssigned", "ValveSection", null, htmlAttributes: new { @class = "linkbutton" })
    }
    else if (itemSection.DisplayGroup.DisplayGroupName == "Quality Control")
    {
        @Html.ActionLink("Back to Circuit List", "QC", "ValveSection", null, htmlAttributes: new { @class = "linkbutton" })
    }
    else if (itemSection.DisplayGroup.DisplayGroupName == "Engineering")
    {
        @Html.ActionLink("Back to Circuit List", "Engineering", "ValveSection", null, htmlAttributes: new { @class = "linkbutton" })
    }
    else if (itemSection.DisplayGroup.DisplayGroupName == "Final Engineering")
    {
        @Html.ActionLink("Back to Circuit List", "FinalEngineering", "ValveSection", null, htmlAttributes: new { @class = "linkbutton" })
    }
    else if (itemSection.DisplayGroup.DisplayGroupName == "Annual Review")
    {
        @Html.ActionLink("Back to Circuit List", "AnnualReview", "ValveSection", null, htmlAttributes: new { @class = "linkbutton" })
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() 
            {
                //$("#tblFeatures").tablesorter(); 
            } 
        ); 
    </script>
}