@model IEnumerable<PipelineFeatureList.Models.ANSIRatingsLookup>

    @{
        ViewBag.Title = "Rating Class";
    }

    <h2>Rating Class</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "linkbutton" })
        @Html.ActionLink("Back to Admin", "Index", "Admin", null, htmlAttributes: new { @class = "linkbutton" })
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ANSIRatingItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PressureRating)
            </th>
            <th></th>
        </tr>
       

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ANSIRatingItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PressureRating)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.ANSIRatingID }, htmlAttributes: new { @class = "linkbutton" })
                @Html.ActionLink("Details", "Details", new { id = item.ANSIRatingID }, htmlAttributes: new { @class = "linkbutton" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ANSIRatingID }, htmlAttributes: new { @class = "linkbutton" })
            </td>
        </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Back to Admin", "Index", "Admin", null, htmlAttributes: new { @class = "linkbutton" })
    </div>
