@model IEnumerable<PipelineFeatureList.Controllers.UsersType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupClassificationID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupClassificationID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsersTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsersTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsersTypeID })
        </td>
    </tr>
}
<div>
    @Html.ActionLink("Back to Admin", "Index", "Admin")
</div>
</table>
