@model PipelineFeatureList.Models.ReportEmail

@{
    ViewBag.Title = "Delete Report Email";
}

<h2>Delete Report Email</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ReportEmail</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Report.ReportName)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Report.ReportName)
    </div></td>
    <td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>
    </td></tr></table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
    </p>
}
