@model PipelineFeatureList.Models.ReportEmail

@{
    ViewBag.Title = "Edit Report Email";
}

<h2>Edit Report Email</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReportEmail</legend>

        @Html.HiddenFor(model => model.ReportEmailsID)

        <table><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ReportID, "Report")
        </div></td>
        <td>
        <div class="editor-field">
            @Html.DropDownList("ReportID", String.Empty)
            @Html.ValidationMessageFor(model => model.ReportID)
        </div></td>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserID, "User")
        </div></td>
        <td>
        <div class="editor-field">
            @Html.DropDownList("UserID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>
        </td></tr></table>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
