@model PipelineFeatureList.Models.Manufacturer

@{
    ViewBag.Title = "Create Manufacturer";
}

<h2>Create Manufacturer</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Manufacturer</legend>

        <table><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ManufacturerItem)
        </div></td>
        <td>
        <div class="wide">
            @Html.EditorFor(model => model.ManufacturerItem)
            @Html.ValidationMessageFor(model => model.ManufacturerItem)
        </div>
        </td></tr></table>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
