@model PipelineFeatureList.Models.MaterialType

@{
    ViewBag.Title = "Edit Material Type";
}

<h2>Edit Material Type</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<fieldset>
    <legend>MaterialType</legend>

    @Html.HiddenFor(model => model.MaterialTypeID)
    <table>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.MaterialTypeItem)
                </div>
            </td>
            <td>
                <div class="wide">
                    @Html.EditorFor(model => model.MaterialTypeItem)
                    @Html.ValidationMessageFor(model => model.MaterialTypeItem)
                </div>
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Save" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
