@model IEnumerable<PipelineFeatureList.Models.PipeSystem>

    @{
        ViewBag.Title = "Station Locations";
    }

    <h2>Station Locations</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "linkbutton" })
        @Html.ActionLink("Back to Admin", "Index", "Admin", null, htmlAttributes: new { @class = "linkbutton" })
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PipeSystemItem)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PipeSystemItem)
                </td>
                <td>                  
                    @Html.ActionLink("Edit", "Edit", new { id = item.PipeSystemID }, htmlAttributes: new { @class = "linkbutton" })
                    @Html.ActionLink("Details", "Details", new { id = item.PipeSystemID }, htmlAttributes: new { @class = "linkbutton" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PipeSystemID }, htmlAttributes: new { @class = "linkbutton" })
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Back to Admin", "Index", "Admin", null, htmlAttributes: new { @class = "linkbutton" })
    </div>
