@model PipelineFeatureList.Models.Grade

@{
    ViewBag.Title = "Grade Details";
}

<h2>Grade Details</h2>

<fieldset>
    <legend>Grade</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.GradeItem)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.GradeItem)
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.SMYS)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.SMYS)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradeID }, htmlAttributes: new { @class = "linkbutton" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
