@model PipelineFeatureList.Models.FeatureError

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>FeatureError</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeatureErrorItem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeatureErrorItem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ErrorText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ErrorText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
