@model PipelineFeatureList.Models.Feature

@{
    ViewBag.Title = "Create Feature";
}

<h2>Create Feature</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Feature</legend>
    <table>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.FeatureItem)
                </div>
            </td>
            <td>
                <div class="wide">
                    @Html.EditorFor(model => model.FeatureItem)
                    @Html.ValidationMessageFor(model => model.FeatureItem)
                </div>
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}

    <div>
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
