@model PipelineFeatureList.Models.Feature

@{
    ViewBag.Title = "Edit Feature";
}

<h2>Edit Feature</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Feature</legend>

    @Html.HiddenFor(model => model.FeatureID)
    <table>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.FeatureItem)
                </div>
            </td>
            <td>
                <div class="wide">
                    @Html.EditorFor(model => model.FeatureItem)
                    @Html.ValidationMessageFor(model => model.FeatureItem)
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.LengthLookup)
                </div>
            </td>
            <td>
                <div class="wide">
                    @Html.EditorFor(model => model.LengthLookup)
                    @Html.ValidationMessageFor(model => model.LengthLookup)
                </div>
            </td>
        </tr>
    </table>

    <p>
        <input type="submit" value="Save" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
