@model PipelineFeatureList.Controllers.ValveSectionError

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ValveSectionError</legend>

        @Html.HiddenFor(model => model.ValveSectionErrorID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ValveSectionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValveSectionID)
            @Html.ValidationMessageFor(model => model.ValveSectionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValveSectionFeatureID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValveSectionFeatureID)
            @Html.ValidationMessageFor(model => model.ValveSectionFeatureID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValveSectionErrorLevelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValveSectionErrorLevelID)
            @Html.ValidationMessageFor(model => model.ValveSectionErrorLevelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ErrorDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ErrorDescription)
            @Html.ValidationMessageFor(model => model.ErrorDescription)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
