@model PipelineFeatureList.Models.DocumentRecord
 
@{
    ViewBag.Title = "Create Document Record";
}

<h2>Create Document Record</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DocumentRecord</legend>

        <h1>
            Create Document for Station @ViewBag.PipelineItem
        </h1>

        @Html.HiddenFor(model => model.PipelineID)

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.RecordIDName)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.RecordIDName)
                    @*@Html.ValidationMessageFor(model => model.RecordIDName)*@
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DocumentTypeID, "DocumentType")
                </td>
                <td>
                    @Html.DropDownList("DocumentTypeID", "- Select a Document Type -")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Filename)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.Filename)
                    @*@Html.ValidationMessageFor(model => model.Filename)*@
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DrawingNumber)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.DrawingNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.RevisionNumber)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.RevisionNumber)
                </td>
            </tr>
            <tr>
                @*<td width="500px">
            <div >
                @Html.LabelFor(model => model.PageNumber) /  @Html.LabelFor(model => model.TotalPages)
            </div>
        </td>*@
                <td>
                    <div class="editor-label">
                        @Html.Label("Page Number / Total Number of Pages")
                    </div>
                </td>
                <td>
                    @Html.EditorFor(model => model.PageNumber) / @Html.EditorFor(model => model.TotalPages)
                    @*@Html.ValidationMessageFor(model => model.PageNumber)  @Html.ValidationMessageFor(model => model.TotalPages)*@ 
                </td>
            </tr>


        </table>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
