@model PipelineFeatureList.Models.Pipeline

@{
    ViewBag.Title = "Create Station";
}

<h2>Create Station</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Station</legend>

        <table>
            <tr>
                <td >
                    @Html.LabelFor(model => model.PipelineItem)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.PipelineItem)
                    @Html.ValidationMessageFor(model => model.PipelineItem)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StationName)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.StationName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PipeSystemID)
                </td>
                <td >
                    @Html.DropDownList("PipeSystemID", "- Select a Station Location -")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Town)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.Town)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Street)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.Street)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CrossStreet)
                </td>
                <td class="medium">
                    @Html.EditorFor(model => model.CrossStreet)
                </td>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Notes)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Notes)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
