@model PipelineFeatureList.Models.Pipeline

@{
    ViewBag.Title = "Delete Station";
}

<h2>Delete Station</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Station</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PipelineItem)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.PipelineItem)
    </div></td>
    </tr>
    <tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PipeSystemID)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.PipeSystem.PipeSystemItem)
    </div>
    </td></tr></table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
    </p>
}
