@model PipelineFeatureList.Models.Pipeline

@{
    ViewBag.Title = "Pipeline Details";
}

<h2>Pipeline Details</h2>

<fieldset>
    <legend>Pipeline</legend>

    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PipelineItem)
            </td>
            <td>
                @Html.DisplayFor(model => model.PipelineItem)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PipeSystemID)
            </td>
            <td>
                @Html.DisplayFor(model => model.PipeSystem.PipeSystemItem)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Street)
            </td>
            <td>
                @Html.DisplayFor(model => model.Street)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CrossStreet)
            </td>
            <td>
                @Html.DisplayFor(model => model.CrossStreet)
            </td>
        <tr>
            <td>
                @Html.LabelFor(model => model.Town)
            </td>
            <td>
                @Html.DisplayFor(model => model.Town)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Notes)
            </td>
            <td>
                @Html.DisplayFor(model => model.Notes)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CircuitCount)
            </td>
            <td>
                @Html.DisplayFor(model => model.CircuitCount)
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PipelineID }, htmlAttributes: new { @class = "linkbutton" }) 
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
