@model PipelineFeatureList.Models.Pipeline

@{
    ViewBag.Title = "Station Details";
}

@if (ViewData["Reviewed"] == "true")
{
    @Html.ActionLink("Delivered", "StatusChange", "Pipeline", new { id = Model.PipelineID , description = "Are you sure you want to update status to 'Delivered' for all the circuits in this station?", newStatus = 9, oldStatus = 8}, htmlAttributes: new { @class = "linkbutton" })
}
@if (ViewData["Delivered"] == "true")
{
    @Html.ActionLink("Client Accepted", "StatusChange", "Pipeline", new { id = Model.PipelineID, description = "Are you sure you want to update status to 'Client Approved' for all the circuits in this station?", newStatus = 10, oldStatus = 9 }, htmlAttributes: new { @class = "linkbutton" })
}
@if (ViewData["accept"] == "true")
{
    @Html.ActionLink("Default Client Acceptance", "StatusChange", "Pipeline", new { id = Model.PipelineID, description = "Are you sure you want to update status to 'Default Client Approved' for all the circuits in this station?", newStatus = 11, oldStatus = 9 }, htmlAttributes: new { @class = "linkbutton" })
}

<h2>Station Details</h2>

<table border="1">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PipelineItem)
        </td>
        <td>
            @Html.DisplayFor(model => model.PipelineItem)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.StationName)
        </td>
        <td>
            @Html.DisplayFor(model => model.StationName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PipeSystemID)
        </td>
        <td>
            @Html.DisplayFor(model => model.PipeSystem.PipeSystemItem)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Town)
        </td>
        <td>
            @Html.DisplayFor(model => model.Town)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Street)
        </td>
        <td>
            @Html.DisplayFor(model => model.Street)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.CrossStreet)
        </td>
        <td>
            @Html.DisplayFor(model => model.CrossStreet)
        </td>
    <tr>
        <td>
            @Html.LabelFor(model => model.Notes)
        </td>
        <td>
            @Html.DisplayFor(model => model.Notes)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.CircuitCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.CircuitCount)
        </td>
    </tr>
</table>

<hr>

@Html.Partial("DocumentsDisplay")

<hr>

@Html.Partial("PTDocumentsDisplay")

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PipelineID }, htmlAttributes: new { @class = "linkbutton" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
