@model PipelineFeatureList.Models.ValveSectionFeature

@{
    ViewBag.Title = "Document Materials Information";
}

<table>
    <tr>
        <th>
            @Html.LabelFor(model => model.RecordIDName)
        </th>
        <th>
            @Html.LabelFor(model => model.DocumentTypeID)
        </th>
        <th>
            @Html.LabelFor(model => model.Filename)
        </th>
        <th>
            @Html.LabelFor(model => model.DrawingNumber)
        </th>
        <th>
            @Html.LabelFor(model => model.Page)
        </th>
        <th>
            @Html.LabelFor(model => model.RevisionNumber)
        </th>
    </tr>
    @foreach (var itemDocs in (ViewData["DocumentRecordData"] as List<PipelineFeatureList.Models.DocumentRecord>))
    {
        if (itemDocs.DocumentRecordID != null)
        {
            <tr>
                <td>
                    @if (ViewBag.EditDisabled == false)
                    {
                        @Html.ActionLink("Edit", "EditDoc", new { id = (itemDocs.DocumentRecordID == null ? 0 : itemDocs.DocumentRecordID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "EditDoc", new { id = (itemDocs.DocumentRecordID == null ? 0 : itemDocs.DocumentRecordID) }, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemDocs.RecordIDName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemDocs.DocumentType.DocumentTypeItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemDocs.Filename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemDocs.DrawingNumber)
                </td>
                <td
                    >@Html.DisplayFor(modelItem => itemDocs.Page)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemDocs.RevisionNumber)
                </td>
                <td>
                    @if (ViewBag.EditDisabled == false)
                    {
                        @Html.ActionLink("Delete", "DeleteDoc", new { id = (itemDocs.DocumentRecordID == null ? 0 : itemDocs.DocumentRecordID) }, htmlAttributes: new { @class = "linkbuttonsmall" })
                    }
                    else
                    {
                        @Html.ActionLink("Delete", "DeleteDoc", new { id = (itemDocs.DocumentRecordID == null ? 0 : itemDocs.DocumentRecordID) }, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
                    }
                </td>
            </tr>
        }
    }
    <tr>
        <th colspan="8">
            @if (ViewBag.EditDisabled == false)
            {
                @Html.ActionLink("Create New Document", "CreateDoc", null, htmlAttributes: new { @class = "linkbuttonsmall" })
            }
            else
            {
                @Html.ActionLink("Create New Document", "CreateDoc", null, htmlAttributes: new { @class = "linkbuttonsmalldisabled" })
            }
        </th>
    </tr>
</table>
