@model PipelineFeatureList.Models.Pipeline

@{
    ViewBag.Title = "Station Details";
}

<h2>
    Material Records Information
</h2>

<table>
    <tr>
        <th>
            Records Identifier
        </th>
        <th>
            Document Type
        </th>
        <th>
            File Name
        </th>
        <th>
            Drawing Number
        </th>
        <th>
            Revision Number
        </th>
        <th>
            Page No./Total No. of Pages
        </th>
        <th></th>
    </tr>


    @foreach (var ItemDoc in ViewData["DocumentList"] as List<PipelineFeatureList.Models.DocumentRecord>)
    {
    <tr>
        <td>
            @ItemDoc.RecordIDName
        </td>
        <td>
            @ItemDoc.DocumentTypeItem
        </td>
        <td>
            @ItemDoc.Filename
        </td>
        <td>
            @ItemDoc.DrawingNumber
        </td>
        <td>
            @ItemDoc.RevisionNumber
        </td>
        <td>
            @ItemDoc.PageNumber / @ItemDoc.TotalPages
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDoc", new { id = ItemDoc.DocumentRecordID }, htmlAttributes: new { @class = "linkbutton" })
            @Html.ActionLink("Delete", "DeleteDoc", new { id = ItemDoc.DocumentRecordID }, htmlAttributes: new { @class = "linkbutton" })
        </td>
    </tr>
    }
</table>

<hr>

@Html.ActionLink("Create New Doc", "CreateDoc", "Pipeline", Model, htmlAttributes: new { @class = "linkbutton" })